/* FONTS */
    
.kettler {
    font-family: "kettler-web", monospace;
        font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.transducer {
    font-family: transducer-variable, sans-serif;
}

.ext {
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 400;
}

.ext-bold {
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 700;
}

/* FONT STYLING */

body {
    font-family: "kettler-web";
    margin: 0;
    padding: 0;
    color: #00FF60;
    paint-order: stroke fill;
    background-color: black;
}

.blue-background {
    background-color: #0000FF;
}

.white-background {
    background-color: white;
    color: #0000FF;
}

h1, h2, h3, h4, h5 {
    font-family: transducer-variable;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 700;
}

h1 {
    font-size: 50px;
    color: black;
    -webkit-text-stroke: 4px #00FF60;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    transition: ease .3s;
}

h4 {
    font-size: 16px;
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 400;
}

p, li {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* FONTS--RESPONSIVE */

@media (min-width: 744px) {
    h1 {
        font-size: 100px;
        -webkit-text-stroke: 7px #00FF60;
    }
}

@media (min-width: 1080px) {
    h2 {
        font-size: 50px;
    }
}

/* LINK STYLING */

a {
    text-decoration: none;
}

nav a, .work-button {
    color: #0000FF;
    -webkit-text-stroke: 3px #00FF60;
    padding: 0;
    margin: 0;
    transition: ease .3s;
}

nav a:visited {
    color: #0000FF;
    -webkit-text-stroke: 3px #00FF60;
}

nav a:hover, a:active, .work-button:hover, .work-button:active {
    color: #3939AA;
    filter: drop-shadow(0 0 5px #FF0C00);
    cursor: pointer;
}

#link-1 {
    font-family: transducer-variable;
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 400;
    -webkit-text-stroke: 3px #00FF60;
    transition: ease .3s;

}

#link-1:hover, #link-1:active {
    color: black;
}

#link-1:visited {
    color: #0000ff;
    -webkit-text-stroke: 3px #00FF60;
}

#link-1:visited:hover {
    color: black;
    -webkit-text-stroke: 3px #00FF60;
}

#link-2 {
    color: #0000ff;
    transition: ease .3s;
}

#link-2:hover #link-2-text, #link-2:active #link-2-text {
    -webkit-text-stroke: 3px #00FF60;
}

#link-2:hover img, #link-2:active img {
    outline: 1px solid #00FF60;
}

#link-3 {
    color: #00FF60;
    transition: ease .3s;
}

#link-3:visited {
    color: #00FF60;
}

#link-3:hover, #link-3:active {
    color: #FF0C00;
    filter: none;
}

#link-4 {
    color: #00FF60;
    padding-bottom: ;
    border-bottom: 1px solid #00FF60;
    transition: ease .3s;
}

#link-4:visited {
    color: #00FF60;
}

#link-4:hover, #link-3:active {
    color: #FF0C00;
    border-bottom: none;
}

/* LINKS--RESPONSIVE */

@media (min-width: 744px) {
    #link-1 {
        font-variation-settings: "slnt" 0, "wdth" 200, "wght" 700;
        -webkit-text-stroke: 5px #00FF60;
        font-size: 40px;
    }
}

/* BUTTON STYLING */

.astro-q p, .astro-q div {
    display: inline;
}

.astro-buttons {
    padding: 0 10px;
}

.astro-q button {
    background: none;
    border: none;
    color: #00FF60;
    border-bottom: 1px solid #00FF60;
    padding: 0;
    margin: 0;
    transition: ease .3s;
}

.astro-q button:hover, .astro-q button:active {
    color: #FF0C00;
    border-bottom: none;
    cursor: pointer;
}

/* NAV--MOBILE */

nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 50px;
}

a #ig-icon {
    width: 25px;
    height: 25px;
    fill: #0000ff;
    background-color: #00FF60;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}

/* NAV--HIDE DESKTOP NAV ON MOBILE SCREENS */

.desktop-menu {
    display: none;
    height: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: fixed;
    top: 61px;
    padding: 10px 10px 7px 0;
    border-right: 1px solid #00FF60;
    border-top: none;
    right: -100%;
    transition: ease .3s;
}

.mobile-menu-visible {
    right: 20px;
}

.hamburger {
    display: block;
    cursor: pointer;
}

/* NAV--MOBILE HAMBURGER STYLING */

.bar-top, .bar-bottom {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: ease .3s;
    background-color: #0000ff;
    border: 1px solid #00FF60;
    border-radius: 10px;
}

.bar-top-x {
    transform: translateY(5px) rotate(45deg);
}

.bar-bottom-x {
    transform: translateY(-5px) rotate(-45deg);
}

.nav-left img {
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.nav-left a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.work-mobile {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    right: 0;
    padding-bottom: 15px;
    transition: ease .3s;
}

.work-mobile-active {
    display: flex;
}

.show-menu {
    display: none;
}

/* NAV--RESPONSIVE */

@media (min-width: 744px) {
    .desktop-menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
    .mobile-nav {
        display: none;
    }
    .mobile-menu {
        display: none;
    }

    .work-container {
        position: relative;
    }

    .work-desktop {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        position: absolute;
        padding: 05px 10px;
        top: 40px;
        right: -10px;
        border-right: 1px solid #00FF60;
        transition: ease .3s;
    }

    .work-desktop-active {
        display: flex;
    }
    
}

/* FOOTER */

footer {
    padding: 20px 0;
}

.blue-footer {
    color: #00FF60;
    background-color: #0000FF;
}

.footer-flex {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-flex img{
    height: 40px;
    padding-top: 10px;
}

.foot-col {
    display: grid;
    grid-auto-rows: 30px;
}

.copyright p {
    padding: 20px 0 0 20px;
    border-top: 1px solid #00FF60;
    font-family: transducer-variable;
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 400;
    font-size: 12px;
    color: #00FF60;
    -webkit-text-stroke: 0;
    font-size: 12px;
}

/* FOOTER--RESPONSIVE */
@media (min-width: 600px) {
    .footer-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

/* HOMEPAGE--HERO */

.hp-hero-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    height: min-content;
    overflow: hidden;
}

#hp-hero-video {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 50vw;
    transform: translate(-50%);
    overflow-x: hidden;
}

.hero-text-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-left, .hero-right {
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .3s;
}

.hero-right a, .hero-left a {
    pointer-events: auto;
}

.hero-left:hover, .hero-left:active, .hero-right:hover, .hero-right:active {
    background-color: black;
}

/* HOMEPAGE--ABOUT */

.hp-about-section {
    margin-top: 95vh;
    margin-bottom: 20px;
    padding: 60px 20px;
    gap: 20px;
}

.hp-about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HOMEPAGE--RESPONSIVE ABOUT */

@media (min-width: 744px) {
    .hp-about-section{
        padding: 100px 10%;
        display: flex;
        align-items: center;
    }

    .hp-about-text {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

/* HOMEPAGE--PROJECTS */

.hp-project-section {
    background-color: white;
    padding: 0;
    width: 100%;
}

#link-2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    overflow: hidden;
    max-height: 100vh;
}

#link-2:last-child img, #link-2:last-child #link-2-text {
    align-self: flex-end;
    text-align: right;
}

#link-2 img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    transition: ease .3s;
}

#link-2 #link-2-text {
    -webkit-text-stroke: 0;
    transition: ease .3s;
}

#link-2:hover, #link-2:active {
    color: #0000FF;
    background-color: #0000FF;
    filter: none;
    cursor: pointer;    
}

.hp-project-spacer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
}

/* HOMEPAGE--RESPONSIVE PROJECTS */

@media (min-width: 915px) {

    #link-2 {
        display: block;
        padding: 20px 20%;
    }

    .hp-project-spacer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 auto;
        max-width: 1000px;
    }

    #link-2:last-child .hp-project-spacer {
        flex-direction: row-reverse;
    }

    #link-2:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    #link-2:last-child #link-2-text {
        align-self: center;
    }

    #link-2 img {
        max-height: 80vh;
    }
}

/* ABOUT PAGE */

.about-page-container {
    padding: 60px 20px 20px 20px;
    background-color: #0000FF;
}

.img-container {
    position: relative;
    padding-top: 30px;
}

#abt-img {
    width: 250px;
}

#abt-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0000FF;
}

#long-text {
    color: white;
    line-height: 1.5em;
    padding: 10px 0;
    max-width: 1080px;
}

/* ABOUT PAGE--RESPONSIVE */

@media (min-width: 744px) {
    .about-page-container {
        padding: 20px 15%;
        background-color: #0000FF;
    }

    .img-container {
        padding-top: 60px;
    }
    
    #abt-img {
        width: 450px;
    }

    #abt-title {
        top: 20px;
        left: 20px;
    }
}

/* CONTACT PAGE */

.contact-container {
    padding: 20px;
}

form {
    padding: 20px 0;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
    padding: 10px 0 5px 0;
}

textarea,
input[type="text"],
input[type="tel"],
input[type="submit"] {
  border: 1px solid #00FF60;
  color: white;
  padding: 6px;
  margin: 0;
  background: black;
  border-radius: 4px;
}

input::placeholder {
    color: #408058;
    font-family: "kettler-web", monospace;}

input[type="tel"] {
    width: 30px;
}

textarea:focus,
input[type="text"]:focus,
input[type="tel"]:focus {
  background: #0000ff;
  color: white;
  border: 1px solid #99E2FF;
  outline: none;
}

input[type="submit"] {
    margin-top: 10px;
    color: #00FF60;
    font-family: "kettler-web", monospace;
}

input[type="submit"]:hover {
    color: white;
    background: #0000ff;
    cursor: pointer;
}

textarea {
    height: 200px;
    width: 270px;
    padding: 5px;
    margin: 0;
}

/* CONTACT PAGE--RESPONSIVE */

@media (min-width: 744px) {
    textarea {
        width: 600px;
    }
}

/* WORK PAGES */

.work-hero-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #0000FF;
}

.work-hero-img {
    max-width: 100%;
    max-height: 90vh;
    transition: ease .3s;
}

.work-hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: ease .3s;
}

.work-img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-auto-flow: dense;
    gap: 20px;
    padding: 20px;
    transition: ease .3s;
}

.work-img-grid img {
    width: 100%;
    transition: ease .3s;
}

/* WORK PAGES--MODAL LIGHTBOX */

.lightbox-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, .8);
}

.lightbox-slide {
    position: relative;
}

.featured-image {
    max-width: 80vw;
    max-height: 80vh;
}

.next-button {
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
}

.close-button {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
}

.close-button:hover,
.close-button:focus {
  color: #00FF60;
  cursor: pointer;
}

/* WORK PAGES--RESPONSIVE */

@media (min-width: 390px) {
    .work-hero-container {
        padding-left: 0;
    }

    .work-hero-container {
        grid-template-columns: 1fr 1fr;
        padding-right: 20px;
    }
    
}

@media (min-width: 744px) {
    .work-hero-text {
        justify-content: center;
    }

    .work-img-grid {
        padding: 20px 10%;
    }

}

@media (min-width: 1080px) {    
    .work-img-grid {
        padding: 20px 20%;
    }
}

@media (min-width: 1280px) {
    .work-hero-container {
        padding-right: 40%;
    }
    
}